* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../assets/images/pexels-abdullah-ghatasheh-1631677.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    width: 200px;
    color: orangered;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: orangered;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.image {
    width: 75.5%;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    transform: translateX(92.5%);
}

img {
    height: 480px;
    width: 357px;
}

.content {
    width: 100%;
    position: absolute;
    top: 33%;
    transform: translateY(-50%);
    transform: translateX(7.5%);
    color: #fff;
}

.content h2 {
    font-size: 70px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 20px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid orangered;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: orangered;
    height: 100%;
    width: 0;
    border-radius: 25px;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover {
    border: none;
}

footer {
    color: #fff;
    z-index: 1;
}

/* ___________________________________________________________________ */

@media screen and (max-width: 1200px) {
    .image {
        visibility: hidden;
    }
 
    .content {
        margin: -1.45em -1.5em -1.04em -1.04em;
    }
}

@media screen and (max-width: 400px) {
    .image {
    visibility: hidden;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

h1 {
    width: 100px;
    color: orangered;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: auto;
    justify-content: space-evenly;
}

.content h2 {
    font-size: 40px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 18px;
}

.banner {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../assets/images/pexels-abdullah-ghatasheh-1631677.jpg);
    background-size: cover;
    background-position: center;
}




}